<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th>Url</th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= article.url %></td>
			<td><%= link_to 'Show', article_path(url: article.url) %></td>
			<td><%= link_to 'Edit', edit_article_path(url: article.url) %></td>
			<td><%= link_to 'Destroy', article_path(url: article.url),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>